@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;

  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  flex-grow: 1;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #242424;
  background-color:#ffffff;
}

.page-header, .page-footer-container {
  flex-shrink: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  min-height: 100%;
  width: 1200px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin: 0 auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.page-header {
  display: flex;
  width: 1060px;
  min-height: 65px;
  margin: 0 auto;
  color:  #000000;
  background: #ffffff;
}

.header-logo {
  position: absolute;
 }

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  min-height: 66px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-width: 345px;
  min-height: 66px;
  margin: 0;
  margin-left: 186px;
  margin-right: auto;
  padding: 0;
  list-style-type: none;
}

.navigation-item:not(:last-child) {
  margin-right: 34px;
}

.navigation-user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 264px;
  height: 66px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 0;
  font-family: "PT Sans", sans-serif;
  line-height: 26px;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

.navigation-user .navigation-link {
  display: block;
  min-width: 42px;
  text-align: center;

  padding: 0;
  padding-top: 22px;
  padding-bottom: 18px;
}

.navigation-link:hover {
  color: rgba(117, 98, 87, 1);
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.navigation-link:visited {
  color: #000000;
  border-bottom: 2px solid #756257;
}

.navigation-user-item:nth-child(2) {
  margin-right: 20px;
}

.navigation-button {
  min-width: 160px;
  min-height: 37px;
  margin: 0;
  padding: 0 20px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756257;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.navigation-button:hover {
  background-color: #615048;
  color: #FFFFFF;
}

.navigation-button:focus {
  background-color: #615048;
  color: #FFFFFF;
  border: 3px solid #83B3D3;
}

.navigation-button:active {
  background-color: #615048;;
  color: rgba(255, 255, 255, 0.3);
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.navigation-link:hover .navigation-icon {
 color: #756257;;
}

.navigation-link:active .navigation-icon {
  color: #756257;
  opacity: 0.3;
}

.main-container {
  flex-grow: 1;
}

.promo {
  width: 100%;
  min-height: 485px;
  margin-bottom: 65px;
  text-align: center;
  background-color: #928680;
  background: url("../images/divider.svg") bottom no-repeat,
  url("../images/index-background.jpg") center no-repeat;
}

.logo {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

.main-index-title {
  display: block;
  margin-top: 63px;
  margin-bottom: 23px;
  font-family: "PT Sans";
  font-weight: 700;
  line-height: 36px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffffff;
  color: #000000;
}

.caption {
  margin-top: 31px;
  margin-bottom: 80px;
  line-height: 36px;
  font-size: 22px;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
}

.advantages {
  margin: 0;
  padding: 0;
}

.advantages_wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 384px);
}

.advantages-town-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: repeat(4, 384px);
  grid-row: 1/-1;
  grid-column: 1/-1;
  padding: 0;
  margin: 0;
}

.advantages-town-list::before {
  content: "";
  display: block;
  grid-row: 2/3;
  grid-column: 1/-1;
}

.town-list-item {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.town-list-item-first {
  grid-column: 1/-1;
  grid-row: 1/2;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.advantage-first-item {
  margin: auto;
  height: 384px;
  background-color: #83B3D3;
  }

.town-list-item-second {
  grid-column: 1/-1;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.advantage-second-item {
  margin: auto;
  height: 384px;
  background-color: #83B3D3;
}

.advantages-more-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-row: 2/3;
  grid-column: 1/-1;
  padding: 0;
  margin: 0;
}

.advantages-icon {
  margin-top: 89px;
  margin-right: 163px;
  margin-bottom: 23px;
  margin-left: 163px;
}

.more-list-item {

  flex-direction: column;
  justify-content: center;
  width: 400px;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 384px;
  list-style-type: none;
}

.town-list-item-light-blue {
  justify-content: center;
  background-color: rgba(131, 179, 211, 0.12);
  list-style-type: none;
}

.road-blue {
  background-color:rgba(131, 179, 211, 0.2);
}

.town-list-item-tourists {
  background-color: rgba(131, 179, 211, 0.12);
  list-style-type: none;
}

.advantages-title {
  margin-top: 98px;
  margin-bottom: 30px;
  font-weight: 700, bold;
  line-height: 28px;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.more-title {
  margin-top: 184px;
  margin-bottom: 20px;
  font-weight: 700, bold;
  line-height: 28px;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages-description {
  margin-bottom: 87px;
  margin-left: 90px;
  margin-right: 90px;
  text-align: center;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.advantages-number {
  margin-bottom: 30px;
  color: #FFFFFF;
}

.advantages-title-light-blue {
  margin-top: 98px;
  margin-bottom: 30px;
  font-weight: 700, bold;
  line-height: 28px;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  list-style-type: none;
}

.blue-number {
  padding-left: 170px;
  margin: auto;
  color: #000000;
}

.advantages-light-blue {
  margin-left: 75px;
  margin-right: 75px;
  margin-bottom: 79px;
  text-align: center;
  color: #000000;
}

.advantages-description-blue {
  margin-top: 27px;
  margin-left: 75px;
  margin-right: 75px;
  margin-bottom: 79px;
  text-align: center;
  color: #000000;
}

.more-title-food {
  margin-top: 184px;
  margin-bottom: 20px;
  font-weight: 700, bold;
  line-height: 28px;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
}

.more-list-item-home {
  background-image: url("../images/advantages/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 50% 29%;
  background-color: rgba(131, 179, 211, 0.12);
  list-style-type: none;
}

.more-list-item-food {
  background-image: url("../images/advantages/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 50% 29%;
  background-color:#ffffff;
  list-style-type: none;
}

.more-list-item-souvenirs {
  background-image: url("../images/advantages/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 50% 28%;
  background-color: rgba(131, 179, 211, 0.12);
  list-style-type: none;
}

.more-title-light-blue {
  margin-top: 184px;
  margin-bottom: 20px;
  font-weight: 700, bold;
  line-height: 28px;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages-food {
  margin-left: 75px;
  margin-right: 75px;
  margin-bottom: 79px;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
}

.advantages-title-road {
  font-weight: 700, bold;
  line-height: 28px;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-road {
  text-align: center;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
}

.page-search {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 417px;
  text-align: center;
}

.subtitle-search {
  margin-top: 91px;
  margin-bottom: 15px;
  font-weight: 700, bold;
  line-height: 36px;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
}

.description-search {
  margin-top: 14px;
  margin-bottom: 56px;
  font-family: "PT Sans";
  line-height: 26px;
  font-size: 22px;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
}
.button-search {
  padding: 12px 75px;
  margin: auto;
  margin-bottom: 93px;
  border-radius: 10px;
  font-family: "PT Sans";
  font-size: 20px;
  line-height: 36px;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
  background-color: #756257;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.button-search:hover {
  background-color: #615048;
  color: #FFFFFF;
  }

  .button-search:focus {
  background-color: #615048;
  color: #FFFFFF;
  border: 3px solid #83B3D3;
  }

  .button-search:active {
  background-color: #615048;;
  color: rgba(255, 255, 255, 0.3);
  }


.email {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 411px;
  background-image: url("../images/background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.subtitle-email {
  margin-top: 94px;
  font-weight: 700, bold;
  line-height: 36px;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.description-email {
  margin-top: 3px;
  margin-bottom: 46px;
  line-height: 26px;
  font-size: 22px;
  text-align: center;
  color: #FFFFFF;
}

.newsletter-form {
  text-align: center;
}

.newsletter-button {
  font-weight: 700, bold;
  line-height: 26px;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
}



.hotels-search-container {
  display: flex;
  flex-direction: column;
  min-height: 408px;
  padding: 0 72px;
  color: #ffffff ;
  background-image: url("../images/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.hotels-search-title {
  margin: 0;
  margin-top: 36px;
  font-weight: 700;
  line-height: 70px;
  font-size: 60px;
  color: #FFFFFF;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  list-style-type: none;
}

.breadcrumbs-link {
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 45px;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.breadcrumbs-icon {
  background-image: url("../images/hotels-catalog/home-white.svg");
  background-repeat: no-repeat;
  background-position: 50% 30%;
  list-style-type: none;
}

/*filter*/
.catalog-filter {
  margin-top: 45px;
}

.catalog-filter-form {
  display: flex;
  margin: 0;
}

.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
}

.group-filter-group--infrastructure {
  margin-right: 68px;
}

.catalog-filter-group--type {
  margin-right: 168px;
}

.catalog-filter-group--cost {
  width: 288px
}

.catalog-filter-list {
  padding: 0;
  margin: 0;
  margin-top: 30px;
  display: grid;
  gap: 13px;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  list-style-type: none;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  color: #FFFFFF;
  padding: 0;
  /* padding-bottom: 34px; */
}

.control {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  display: flex;
}


.price-container {
  display: flex;
  margin-top: 34px;
}

.price-field {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}
.price-field:nth-of-type(2) {
  margin-left: -2px;
}
.price-field__placeholder {
  position: absolute;
  opacity: .3;
  right: 14px;
}

.price-input {
  height: 48px;
  width: 144px;
  box-sizing: border-box;
  padding: 0;
  padding-left: 17px;
  appearance: textfield;
  background: transparent;
  color: #ffffff;
  font: inherit;
  border: 2px solid #ffffff;
  outline: 0;
}
.price-input:hover {
  border-color: rgba(255, 255, 255, 0.6);
}
.price-input:focus {
  box-shadow: 0px 0px 0px 3px #81B3D2, inset 0px 0px 0px 3px #81B3D2;
  border-color: #FFFFFF;
}
.price-input:active {
  border-color: #FFFFFF;
  background-color: #756257;
}
.price-input--from {
  border-radius: 4px 0 0 4px;
}
.price-input--to {
  border-radius: 0 4px 4px 0;
}
.price-input::-webkit-outer-spin-button,
.price-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgb(255, 255, 255, 0.3);
  border-radius: 2px;
  width: 287px;
  top: 25px;
}

.slider {
  margin-top: 28px;
  height: 4px;
  width: 287px;
  background-color: rgb(255, 255, 255, 0.3);
  position: relative;
}
.slider-inner {
  background-color: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 51px;
}
.slider-button {
  position: absolute;
  top: -8px;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
}
.slider-button:focus {
  outline: 3px solid #83B3D3;
}
.slider-button:active {
  outline: 2px solid #83B3D3;
}
.slider-button--max {
  right: 51px;
}

.button-catalog-group {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  padding: 0;
  margin-top: 22px;
}

.button-submit {
  width: 160px;
  min-height: 48px;
  margin-top: 38px;
  margin-bottom: 7px;
  font-family: "PN Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-reset {
  width: 160px;
  min-height: 48px;
  font-family: "PN Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
  background-color: inherit;
  border: none;
  cursor: pointer;
}


.hotels-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 72px;
  gap: 10px 18px;
}

.hotels-card {
  display: flex;
  flex-direction: column;
  width: 339px;
  padding: 20px;
  align-items: flex-start;
}

.text-card {
  display: flex;
}

.hotels-card-type {
  padding-right: 25px;
}


.control-input {
  font-size: 18px;
  line-height: 23px;
  font-weight: normal;
  color: #FFFFFF;
  background-color: #83B3D3;
  position: absolute;
  appearance: none;
}

.control-input:checked + .control-mark--checkbox {
  background-image: url('../images/tick.svg');
}

.control-input:checked + .control-mark--radio::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #3F5E72;
}

.control-mark {
  display: flex;
  margin-right: 19px;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  background-position: center;
  background-repeat: no-repeat;
}

.control-mark--checkbox {
  border-radius: 4px;
}

.control-mark--radio {
  border-radius: 10px;
}

.select-control {
  display: flex;
  margin-bottom: 53px;
}

.select-control-title {
  font-family: "PT Sans";
  font-weight: bold;
  line-height: 39px;
  font-size: 30px;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
  margin-left: 72px;
  margin-right: 192px;
}

.select-control-list {
  margin-top: 38px;
  padding-right: 81px;
  padding-left: 19px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-style: normal;
  color: #000000;
  background-color: #FFFFFF;
}

.sort-button-wrapper {
  display: flex;
  margin-top: 40px;
  margin-left: 80px;
}

.sort-button-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 0 8px;
  width: 44px;
  height: 44px;
  border: 2px solid #000000;
  border-radius: 4px;
  background-color: #ffffff;
}

.sort-button-icons:nth-child(3n) {
  margin-right: 0;
}

.hotels-card-title {
  font-weight: 700, bold;
  line-height: 31px;
  font-size: 24px;
  color: #000000;
  background-color: #FFFFFF;
}
.hotels-card-type {
  margin-right: 38px;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 23px;
  font-style: normal;
  color: #000000;
  background-color: #FFFFFF;
}
.hotels-card-price {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 23px;
  font-style: normal;
  color: #000000;
  background-color: #FFFFFF;
}

.button-card {
  display: flex;
}

.hotels-card-more  {
  margin-right: 26px;
  margin-bottom: 16px;
  padding: 10px 21px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 21px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756257;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.hotels-card-favorites  {
  margin-bottom: 16px;
  padding: 10px 24px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 21px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.button-rating {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
}

.show-more-wrapper {
  width: 1056px;
  min-height: 60px;
  margin: 0 auto;
  margin-bottom: 29px;
  padding: 28px 0 30px 0;
  text-align: center;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.download-more-button {
  width: 620px;
  min-height: 60px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/*pagination*/

.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1056px;
  min-height: 55px;
  margin: 0 auto;
  margin-bottom: 74px;
}

.pagination-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  min-width: 55px;
  min-height: 55px;
  padding-top: 17px;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
  color: #FFFFFF;
  background-color: #83B3D3;
  border: none;
  border-radius: 4px;
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
}

.select-control-number {
  min-width: 160px;
  min-height: 48px;
  margin-left: 46px;
  padding-left: 12px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.email-hotel {
  display: flex;
  flex-direction: column;
  height: 224px;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
}

.subtitle-email-hotel {
  margin-bottom: 15px;
  margin-left: 142px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 36px;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
}

.description-email-hotel {
  margin-left: 153px;
  font-family: "PT Sans", sans-serif;
  line-height: 26px;
  font-size: 22px;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
}
.number-hotels {
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  background-color: #FFFFFF;
}

.subscribe-inner-wrapper {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 800px;
  min-height: 241px;
  margin: 0 auto;
  margin-bottom: 140px;
  }

.subscribe-form {
  width: 800px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  }

.field {
  padding: 0;
  padding-left: 22px;
  width: 580px;
  height: 60px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  text-align: left;
  background-color: #f2f2f2;
  border: none;
  border-radius: 10px 0 0 10px;
   }

.field:hover {
  background-color: rgba(230, 230, 230, 1);
  color: rgba(0, 0, 0, 1);
  }

.field:focus {
  background-color: rgba(230, 230, 230, 1);
  color: rgba(0, 0, 0, 1);
  border: 2px solid rgba(131, 179, 211, 1);
  }

  .field:not(:placeholder-shown):invalid {
    background-color: #ffffff;
    outline: 2px solid #ff5757;
  }

  .subscribe-button {
    width: 200px;
    min-height: 60px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #83b3d3;
    border: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    }

    .subscribe-button:hover {
      background: #68A2CA;
      color: rgba(255, 255, 255, 1);
    }

    .subscribe-button:focus {
      background-color: #68A2CA;
      color: #FFFFFF;
      border: 3px solid #756257;
      }

      .subscribe-button:active {
        background-color: #68A2CA;
        color: rgba(255, 255, 255, 0.3);
        }
/*footer*/

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.footer-social-list {
  display: flex;
  margin: 0;
  padding: 0;
  margin-right: 61px;
  margin-left: 72px;
  list-style-type: none;
}

.footer-social-item {
  width: 21px;
  height: 30px;
  margin-right: 23px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-social-link {
  display: block;
  height: 120px;
  background-color:#ffffff;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-social-twitter {
  background-image: url("../images/footer/social-twitter.svg");
}

.footer-social-facebook {
  background-image: url("../images/footer/fb.svg")
}

.footer-social-youtube {
  background-image: url("../images/footer/social-youtube.svg")
}

.footer-social-item:hover .footer-social-link:hover {
  background-color: #68A2CA;
}

.footer-social-item:active .footer-social-link:active {
  background-image: rgb(200, 218, 230);
}

.phone-number {
  display: block;
  width: 720px;
  height: 50px;
  margin: 40px 62px 30px 61px;
  line-height: 40px;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
}

a[href^="tel:"] {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

.phone-number:hover a {
  color: #756257;
}

.phone-number:focus a {
  color: #756257;
  border: 3px solid #68A2CA;
}

.phone-number:active a {
  color: rgba(117, 98, 87, 1);
}

.button .footer-logo {
  display: block;
  width: 115px;
  height: 34px;
  margin: 42px 72px 44px 53px;
  max-width: 115px;
  margin-left: 53px;
  background-color: #FFFFFF;
}

.button:hover .footer-logo  {
  color: rgba(117, 98, 87, 1);
}



