@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;

  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #242424;
  background-color:#ffffff;

}

.navigation-item button {
  font-weight: 700, bold;
  line-height: 20px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756257
}

.page-header {
  color:  #000000;
  background: #ffffff;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  width: 460px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  display: block;
  flex-wrap: wrap;
  padding: 20px 17px;
  line-height: 26px;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.navigation-user {
  display: flex;
  max-width: 300px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  list-style-type: none;
}

.navigation-logo {
  margin: 0;
  padding: 0;
  width: 139px;
  height: 70px;
}

.navigation-user .navigation-link {
  min-width: 42px;
  min-height: 66px;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  background-color: #ffffff;
  color: #000000;
  background-image: url("../images/index-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.logo {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

.main-index-title {
  display: block;
  margin-top: 63px;
  margin-bottom: 23px;
  font-weight: 700;
  line-height: 36px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffffff;
  color: #000000;
}

.caption {
  margin-bottom: 79px;
  line-height: 36px;
  font-size: 22px;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
}

.advantages {
  margin: 0;
  padding: 0;
}

.advantages-town-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 384px 384px 384px;
  width: 1200px;
  height: 1152px;
}

.town-list-item {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 384px;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;

}

.town-list-item .sedona {
  grid-column: -1/2;
}

.town-list-item .mountains {
  grid-column: 1/3;
}

.advantages-more-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  width: 1200px;
  height: 384px;
}

.more-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 384px;
  list-style-type: none;
}

.more-list-item {
  width: 400px;
}

.advantages-title {
  margin-top: 98px;
  margin-bottom: 30px;
  font-weight: 700, bold;
  line-height: 28px;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.advantages-description {
  text-align: center;
  color: #FFFFFF;
  background-color: #83B3D3;
}
.advantages-title-light-blue {
  font-weight: 700, bold;
  line-height: 28px;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-light-blue {
  text-align: center;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-title-food {
  font-weight: 700, bold;
  line-height: 28px;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
}

.advantages-food {
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
}

.advantages-title-road {
  font-weight: 700, bold;
  line-height: 28px;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-road {
  text-align: center;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
}

.page-search {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 417px;
  text-align: center;
}

.subtitle-search {
  margin-top: 91px;
  margin-bottom: 15px;
  font-weight: 700, bold;
  line-height: 36px;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
}

.description-search {
  line-height: 26px;
  font-size: 22px;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
}
.button-search {
  font-weight: 700, bold;
  line-height: 36px;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756257
}

.email {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 411px;
  background-image: url("../images/background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.subtitle-email {
  margin-top: 94px;
  font-weight: 700, bold;
  line-height: 36px;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.description-email {
  line-height: 26px;
  font-size: 22px;
  text-align: center;
  color: #FFFFFF;
}

.newsletter-form {
  text-align: center;
}

.newsletter-button {
  font-weight: 700, bold;
  line-height: 26px;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-right: 61px;
  margin-left: 72px;
  list-style-type: none;
}

.footer-social-item {
  width: 25px;
  height: 30px;
  margin-right: 30px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.phone-number {
  display: block;
  width: 720px;
  height: 50px;
  margin: 40px 53px 30px 61px;
  line-height: 40px;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
}

.button .footer-logo {
  display: block;
  width: 115px;
  height: 34px;
  margin: 42px 72px 44px 53px;
  max-width: 115px;
  margin-left: 53px;
  background-color: #FFFFFF;
}

.hotels-search-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 408px;
  background-color: #83B3D3;
  color: #ffffff ;
  background-image: url("../images/catalog-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.catalog-filter {
  display: flex;
  flex-direction: row;
}

.hotels-search-title {
  margin-top: 35px;
  margin-right: 601px;
  margin-bottom: 71px;
  margin-left: 71px;
  font-weight: 700, bold;
  line-height: 78px;
  font-size: 60px;
  color: #FFFFFF;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  list-style-type: none;
}

.breadcrumbs-link {
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 45px;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.catalog-filter-list {
  margin-left: 71px;
}

.catalog-filter-type {
  margin-left: 67px;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  list-style-type: none;
}

.hotels-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hotels-card {
  width: 339px;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  color: #FFFFFF;
}
.control-input {
  font-size: 18px;
  line-height: 23px;
  font-weight: normal;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.button-catalog {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.select-control {
  display: flex;
  margin-bottom: 53px;
}

.select-control-title {
  margin-right: 192px;
  font-weight: 700, bold;
  line-height: 39px;
  font-size: 30px;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
}
.select-control-list {
  margin-top: 44px;
  margin-right: 81px;
  font-size: 18px;
  line-height: 23px;
  font-style: normal;
  color: #000000;
  background-color: #FFFFFF;
}

.button-icons {
  margin-right: 8px;
}

.button-icons:nth-child(3n) {
  margin-right: 0;
}

.hotels-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hotels-card-title {
  font-weight: 700, bold;
  line-height: 31px;
  font-size: 24px;
  color: #000000;
  background-color: #FFFFFF;
}
.hotels-card-type {
  font-size: 18px;
  line-height: 23px;
  font-style: normal;
  color: #000000;
  background-color: #FFFFFF;
}
.hotels-card-price {
  font-size: 18px;
  line-height: 23px;
  font-style: normal;
  color: #000000;
  background-color: #FFFFFF;
}
.hotels-card-more  {
  font-weight: 700, bold;
  line-height: 21px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756257
}
.hotels-card-favorites  {
  font-weight: 700, bold;
  line-height: 21px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
}
.button-rating {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
}
.download-more-button {
  font-weight: 700, bold;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
}
.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 30px;
  list-style-type: none;
  font-weight: 700, bold;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding: 0;
  text-decoration: none;
}

.pagination-form {
  margin-left: auto;
  margin-right: 72px;
  font-size: 18px;
  line-height: 23px;
}

.email-hotel {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 224px;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
}

.subtitle-email-hotel {
  margin-top: 90px;
  margin-bottom: 15px;
  font-weight: 700, bold;
  line-height: 36px;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
}

.description-email-hotel {
  line-height: 26px;
  font-size: 22px;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
}
.number-hotels {
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
