@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;

  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #242424;
  background-color:#ffffff;

}

.navigation-item button {
  font-weight: 700, bold;
  line-height: 20px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756257
}

.page-header {
  color:  #000000;
  background: #ffffff;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 460px;
}

.navigation-logo {
  margin: 0;
  padding: 0;
  width: 139px;
}
.navigation-user {
  max-width: 300px;
  margin-left: auto;
}

.navigation-link {
  line-height: 26px;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  background-color: #ffffff;
  color: #000000;
  background-image: url("../images/index-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.title-container {
  display: block;
  width: 1200px;
  height: 282px;
  margin: 0;
  padding: 0;
}

.logo {
  display: block;
  margin: 0 auto;
}

.main-index-title {
  font-weight: 700;
  line-height: 36px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffffff;
  color: #000000;
}

.caption {
  line-height: 36px;
  font-size: 22px;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
}

.advantages {
  margin: 0;
  padding: 0;
}

.advantages-town-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages-more-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages-item {
  width: 400px;
  height: 384px;
}

.advantages-title {
  font-weight: 700, bold;
  line-height: 28px;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.advantages-description {
  text-align: center;
  color: #FFFFFF;
  background-color: #83B3D3;
}
.advantages-title-light-blue {
  font-weight: 700, bold;
  line-height: 28px;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-light-blue {
  text-align: center;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-title-food {
  font-weight: 700, bold;
  line-height: 28px;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
}

.advantages-food {
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
}

.advantages-title-road {
  font-weight: 700, bold;
  line-height: 28px;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-road {
  text-align: center;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
}

.page-search {
  display: block;
  width: 1200px;
  height: 417px;
  text-align: center;
}

.subtitle-search {
  font-weight: 700, bold;
  line-height: 36px;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
}

.description-search {
  line-height: 26px;
  font-size: 22px;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
}
.button-search {
  font-weight: 700, bold;
  line-height: 36px;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756257
}

.subtitle-email {
  font-weight: 700, bold;
  line-height: 36px;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.description-email {
  line-height: 26px;
  font-size: 22px;
  text-align: center;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.email {
  display: block;
  width: 1200px;
  height: 411px;
  background-image: url("images/background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}


.newsletter-button {
  font-weight: 700, bold;
  line-height: 26px;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.footer-social-list {
  width: 108px;
  margin-right: 61px;
}

.phone-number {
  margin: 0 auto;
  line-height: 40px;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
}

.footer-logo {
  max-width: 115px;
  margin-left: 53px;
}

.hotels-search {
  width: 1200px;
  height: 408px;
  background-color: #83B3D3;
  color: #ffffff ;
  background-image: url("../images/catalog-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}


.hotels-search-title {
  font-weight: 700, bold;
  line-height: 78px;
  font-size: 60px;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.hotels-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hotels-card {
  width: 339px;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
}

.email-hotel {
  display: block;
  width: 1200px;
  height: 224px;
  text-align: center;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #83B3D3;
}
.control-input {
  font-size: 18px;
  line-height: 23px;
  font-weight: normal;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.button {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.select-control {
  font-weight: 700, bold;
  line-height: 39px;
  font-size: 30px;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
}
.select-control-list {
  font-size: 18px;
  line-height: 23px;
  font-style: normal;
  color: #000000;
  background-color: #FFFFFF;
}
.hotels-card-title {
  font-weight: 700, bold;
  line-height: 31px;
  font-size: 24px;
  color: #000000;
  background-color: #FFFFFF;
}
.hotels-card-type {
  font-size: 18px;
  line-height: 23px;
  font-style: normal;
  color: #000000;
  background-color: #FFFFFF;
}
.hotels-card-price {
  font-size: 18px;
  line-height: 23px;
  font-style: normal;
  color: #000000;
  background-color: #FFFFFF;
}
.hotels-card-more  {
  font-weight: 700, bold;
  line-height: 21px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756257
}
.hotels-card-favorites  {
  font-weight: 700, bold;
  line-height: 21px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
}
.button-rating {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
}
.download-more-button {
  font-weight: 700, bold;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
}
.pagination {
  font-weight: 700, bold;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
}
.subtitle-email-hotel {
  font-weight: 700, bold;
  line-height: 36px;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
}

.description-email-hotel {
  line-height: 26px;
  font-size: 22px;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
}
.number-hotels {
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
