@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;

  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  flex-grow: 1;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #242424;
  background-color:#ffffff;
}

.page-header, .page-footer-container {
  flex-shrink: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  width: 1200px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin: 0 auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.page-header {
  display: flex;
  width: 1060px;
  min-height: 65px;
  margin: 0 auto;
  color:  #000000;
  background: #ffffff;
}

.header-logo {
  position: absolute;
 }

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  min-height: 66px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-width: 345px;
  min-height: 66px;
  margin: 0;
  margin-left: 186px;
  margin-right: auto;
  padding: 0;
  list-style-type: none;
}

.navigation-item:not(:last-child) {
  margin-right: 34px;
}

.navigation-user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 264px;
  height: 66px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 0;
  font-family: "PT Sans", sans-serif;
  line-height: 26px;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

.navigation-user .navigation-link {
  display: block;
  min-width: 42px;
  text-align: center;
  padding: 0;
  padding-top: 22px;
  padding-bottom: 18px;
}

.navigation-user-item:nth-child(2) {
  margin-right: 20px;
}

.navigation-button {
  min-width: 160px;
  min-height: 37px;
  margin: 0;
  padding: 0 20px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756257;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  background-color: #ffffff;
  color: #000000;
  background-image: url("../images/index-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.logo {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

.main-index-title {
  display: block;
  margin-top: 63px;
  margin-bottom: 23px;
  font-family: "PT Sans";
  font-weight: 700;
  line-height: 36px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffffff;
  color: #000000;
}

.caption {
  margin-bottom: 79px;
  line-height: 36px;
  font-size: 22px;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
}

.advantages {
  margin: 0;
  padding: 0;
}

.advantages_wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 384px);
}

.advantages-town-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: repeat(4, 384px);
  grid-row: 1/-1;
  grid-column: 1/-1;
  padding: 0;
  margin: 0;
}

.advantages-town-list::before {
  content: "";
  display: block;
  grid-row: 2/3;
  grid-column: 1/-1;
}

.town-list-item {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.town-list-item-first {
  grid-column: 1/-1;
  grid-row: 1/2;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.advantage-first-item {
  margin: auto;
  height: 384px;
  background-color: #83B3D3;
  }

.town-list-item-second {
  grid-column: 1/-1;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.advantage-second-item {
  margin: auto;
  height: 384px;
  background-color: #83B3D3;
}

.advantages-more-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-row: 2/3;
  grid-column: 1/-1;
  padding: 0;
  margin: 0;
}

.advantages-icon {
  margin-top: 89px;
  margin-right: 163px;
  margin-bottom: 23px;
  margin-left: 163px;
}

.more-list-item {

  flex-direction: column;
  justify-content: center;
  width: 400px;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 384px;
  list-style-type: none;
}

.town-list-item-light-blue {
  justify-content: center;
  background-color: rgba(131, 179, 211, 0.12);
  list-style-type: none;
}

.road-blue {
  background-color:rgba(131, 179, 211, 0.2);
}

.town-list-item-tourists {
  background-color: rgba(131, 179, 211, 0.12);
  list-style-type: none;
}

.advantages-title {
  margin-top: 98px;
  margin-bottom: 30px;
  font-weight: 700, bold;
  line-height: 28px;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.more-title {
  margin-top: 184px;
  margin-bottom: 20px;
  font-weight: 700, bold;
  line-height: 28px;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages-description {
  margin-bottom: 87px;
  margin-left: 90px;
  margin-right: 90px;
  text-align: center;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.advantages-number {
  margin-bottom: 30px;
  color: #FFFFFF;
}

.advantages-title-light-blue {
  margin-top: 98px;
  margin-bottom: 30px;
  font-weight: 700, bold;
  line-height: 28px;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  list-style-type: none;
}

.blue-number {
  padding-left: 170px;
  margin: auto;
  color: #000000;
}

.advantages-light-blue {
  margin-left: 75px;
  margin-right: 75px;
  margin-bottom: 79px;
  text-align: center;
  color: #000000;
}

.more-title-food {
  margin-top: 184px;
  margin-bottom: 20px;
  font-weight: 700, bold;
  line-height: 28px;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
}

.more-list-item-home {
  background-image: url("../images/advantages/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 50% 30%;
  background-color: rgba(131, 179, 211, 0.12);
  list-style-type: none;
}

.more-list-item-food {
  background-image: url("../images/advantages/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 50% 30%;
  background-color:#ffffff;
  list-style-type: none;
}

.more-list-item-souvenirs {
  background-image: url("../images/advantages/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 50% 30%;
  background-color: rgba(131, 179, 211, 0.12);
  list-style-type: none;
}

.more-title-light-blue {
  margin-top: 184px;
  margin-bottom: 20px;
  font-weight: 700, bold;
  line-height: 28px;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages-food {
  margin-left: 75px;
  margin-right: 75px;
  margin-bottom: 79px;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
}

.advantages-title-road {
  font-weight: 700, bold;
  line-height: 28px;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-road {
  text-align: center;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
}

.page-search {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 417px;
  text-align: center;
}

.subtitle-search {
  margin-top: 91px;
  margin-bottom: 15px;
  font-weight: 700, bold;
  line-height: 36px;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
}

.description-search {
  margin-bottom: 56px;
  line-height: 26px;
  font-size: 22px;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
}
.button-search {
  padding: 15px 80px;
  margin: auto;
  margin-bottom: 93px;
  border-radius: 10px;
  font-family: "PT Sans";
  font-size: 20px;
  line-height: 36px;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
  background-color: #756257;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.email {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 411px;
  background-image: url("../images/background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.subtitle-email {
  margin-top: 94px;
  font-weight: 700, bold;
  line-height: 36px;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.description-email {
  line-height: 26px;
  font-size: 22px;
  text-align: center;
  color: #FFFFFF;
}

.newsletter-form {
  text-align: center;
}

.newsletter-button {
  font-weight: 700, bold;
  line-height: 26px;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.footer-social-list {
  display: flex;
  margin: 0;
  padding: 0;
  margin-right: 61px;
  margin-left: 72px;
  list-style-type: none;
}

.footer-social-item {
  width: 25px;
  height: 30px;
  margin-right: 30px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-social-link {
  display: block;
  height: 120px;
  background-color:#ffffff;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-social-twitter {
  background-image: url("../images/footer/social-twitter.svg");
}

.footer-social-facebook {
  background-image: url("../images/footer/fb.svg")
}

.footer-social-youtube {
  background-image: url("../images/footer/social-youtube.svg")
}

.phone-number {
  display: block;
  width: 720px;
  height: 50px;
  margin: 40px 53px 30px 61px;
  line-height: 40px;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
}

a[href^="tel:"] {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

.button .footer-logo {
  display: block;
  width: 115px;
  height: 34px;
  margin: 42px 72px 44px 53px;
  max-width: 115px;
  margin-left: 53px;
  background-color: #FFFFFF;
}

.hotels-search-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 408px;
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 30px;
  padding-bottom: 40px;
  color: #ffffff ;
  background-image: url("../images/catalog-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.catalog-filter {
  display: flex;
  flex-direction: row;
}

.hotels-search-title {
  margin-bottom: 0px;
  margin-right: 601px;
  font-weight: 700, bold;
  line-height: 78px;
  font-size: 60px;
  color: #FFFFFF;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  list-style-type: none;
}

.breadcrumbs-link {
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 45px;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.breadcrumbs-icon {
  background-image: url("../images/hotels-catalog/home-white.svg");
  background-repeat: no-repeat;
  background-position: 50% 30%;
  list-style-type: none;
}


.catalog-filter-group {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
}

.catalog-filter-list {
  margin-left: -40px;
}

.catalog-filter-type {
  margin-left: -40px;
}

.catalog-filter-group-form {
  margin-left: 193px;
  margin-right: 81px;
}

.catalog-filter-item {
  align-items: flex-start;
  font-size: 18px;
  line-height: 23px;
  list-style-type: none;
}

.hotels-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 10px 18px;
}

.hotels-card {
  display: flex;
  flex-direction: column;
  width: 339px;
  padding: 20px;
  align-items: flex-start;
}

.text-card {
  display: flex;
}

.hotels-card-type {
  padding-right: 25px;
}

.catalog-filter-title {
  margin-right: 67px;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  color: #FFFFFF;
}
.control-input {
  font-size: 18px;
  line-height: 23px;
  font-weight: normal;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.button-catalog {
  align-self: center;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.button-reset {
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  background-color: inherit;
}

.button-catalog-group {
  display: flex;
  flex-direction: column;
}

.select-control {
  display: flex;
  margin-bottom: 53px;
}

.select-control-title {
  font-family: "PT Sans";
  margin-right: 192px;
  font-weight: bold;
  line-height: 39px;
  font-size: 30px;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
}
.select-control-list {
  margin-top: 44px;
  padding-right: 81px;
  padding-left: 19px;
  font-size: 18px;
  line-height: 23px;
  font-style: normal;
  color: #000000;
  background-color: #FFFFFF;
}

.button-icons {
  margin-right: 8px;
}

.button-icons:nth-child(3n) {
  margin-right: 0;
}

.hotels-card-title {
  font-weight: 700, bold;
  line-height: 31px;
  font-size: 24px;
  color: #000000;
  background-color: #FFFFFF;
}
.hotels-card-type {
  margin-right: 38px;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 23px;
  font-style: normal;
  color: #000000;
  background-color: #FFFFFF;
}
.hotels-card-price {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 23px;
  font-style: normal;
  color: #000000;
  background-color: #FFFFFF;
}

.button-card {
  display: flex;
}

.hotels-card-more  {
  margin-right: 26px;
  margin-bottom: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 700, bold;
  line-height: 21px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756257
}

.hotels-card-favorites  {
  margin-bottom: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 700, bold;
  line-height: 21px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
}
.button-rating {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
}
.download-more-button {
  height: 60px;
  margin-top: 24px;
  margin-left: 290px;
  margin-right: 290px;
  font-weight: 700, bold;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
}
.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 30px;
  list-style-type: none;
  font-weight: 700, bold;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding: 0;
  text-decoration: none;
}

.pagination-form {
  margin-left: auto;
  margin-right: 72px;
  font-size: 18px;
  line-height: 23px;
}

.email-hotel {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 224px;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
}

.subtitle-email-hotel {
  margin-top: 90px;
  margin-bottom: 15px;
  font-weight: 700, bold;
  line-height: 36px;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
}

.description-email-hotel {
  line-height: 26px;
  font-size: 22px;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
}
.number-hotels {
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  background-color: #FFFFFF;
}


